<div class="container" ng-controller"welcome">
      <div class="col-md-12">
        <div class="page-header">
          <h1 id="container">Dashboard</h1>
        </div>
        <div class="bs-component">
          <div class="jumbotron">
            <div class="col-md-4">
<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Player Status</strong> <i class="pull-right fa fa-power-off" ng-click="logout()" aria-hidden="true"></i>
</h3>
            </div>
            <div class="panel-body">

            <div class="col-md-12 caps">
            	<div clas="col-md-6">
            	    <span class="col-md-4">Name</span>    |  <strong><i class="fa fa-user" aria-hidden="true"></i>
 {{userDetails.name}} </strong><br>
            	</div>
           		<div clas="col-md-6">
                <span class="col-md-4">Coins</span> |  <strong><i class="fa fa-money" aria-hidden="true"></i>
 {{userDetails.balance-currentAuction.amount}}/{{userDetails.balance}}</strong><br>
            	</div>

            </div>


            </div>
          </div>
     </div>


            <div class="col-md-4">
<div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Inventory</strong></h3>
            </div>
            <div class="panel-body panel-table">
              <table class="table  table-hover table-responsive">
            <tbody>
            <tr  ng-repeat="(key, data) in inventory track by $index" ng-if="key!='_id'">
              <td class="caps"><strong><i class="fa" ng-class="{'fa-futbol-o': key == 'carrots','fa-beer':key == 'breads','fa-diamond':key=='diamond'}" aria-hidden="true"></i><br>{{key}}</strong></td>
              <td><strong>Quantity<br>{{data}}</strong></td>
              
              <td><i class="fa fa-shopping-cart" aria-hidden="true"></i><br><button class="btn btn-raised btn-sm btn-info" ng-click="setAuction(key,data);">
			Auction</button></td>
            </tr>
            </tbody>
          </table>

            </div>
          </div>
     </div>

                 <div class="col-md-4 margin-top">
<div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Current Auction</strong></h3>
            </div>
            <div class="panel-body">
            	<div ng-show="!startAuction">
            		<div class="alert alert-dismissible alert-info">
            <strong>No auction at the moment!</strong> 
          </div>
            	</div>
              	<div ng-show="startAuction">
              <div class="row">
              		<span class="col-md-offset-2">Seller : <strong>The Seller Name</strong></span><br><br>
              	</div>
	
					<div class="col-md-12">
				<div class="col-md-offset-1 col-md-4 text-center">
					<strong class="caps"><i class="fa" ng-class="{'fa-futbol-o': currentAuctionItem == 'carrots','fa-beer':currentAuctionItem == 'breads','fa-diamond':currentAuctionItem=='diamond'}" aria-hidden="true"></i><br>{{currentAuctionItem}}</strong>
				</div>

				<div class=" col-md-4 text-center">
					 <span>Quantity<strong class="text-center"><br>{{bid.quantity}}</strong></span><br><br>
				</div>


				</div>
  				<br>
              	<div class="col-md-12">
              		<span class="col-md-offset-2">Time left : <strong>{{countDown}}</strong>   seconds</span><br><br>
              	</div>
              	<br>
              	<div class="col-md-12">
              		<span ng-show="seller.amount>currentAuction.amount" class="col-md-offset-2">Minimum Bid : <strong>{{seller.amount}}</strong></span>
	           		<span ng-hide="seller.amount>currentAuction.amount" class="col-md-offset-2">Wining Bid : <strong>{{currentAuction.amount}}</strong></span><br><br>
              	</div>
              
              	<div class="col-md-12">
              		<div class="col-md-offset-2 col-md-6">
			            <input class="" id="currentAmount" type="number"  ng-model="currentAuction.amount" ng-value="currentAuction.amount"  required>
			             
              		</div>
              	</div>
               	 	<div class="col-md-12">
              		<div class="col-md-offset-3 col-md-6">
			          <a href="javascript:void(0)" ng-click="placeBid()"  class="btn btn-raised btn-xs btn-warning "> <i class="fa fa-money" aria-hidden="true"></i>
Place Bid</a>
              		</div>
              	</div>
              	</div>
            </div>
          </div>
</div>

<div class="modal fade" id="auctionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title caps">Bid on {{selectedItem.item }}</h4>
      </div>
      <div class="modal-body">
      <form name="bidName" class="bs-component">
        <div class="form-group label-floating is-empty">
            <label class="control-label" for="focusedInput2">Quantity</label>
            <input class="form-control" id="focusedInput2" ng-model="bid.quantity" type="number" max="{{selectedItem.count}}" required>
            <p class="help-block">The quantity can’t be greater than the available item quantity</p>
          <span class="material-input"></span></div>

           <div class="form-group label-floating is-empty">
            <label class="control-label" for="focusedInput1">Minimum bid Value</label>
            <input class="form-control" id="focusedInput1" type="number" ng-model='bid.amount' required>
            <p class="help-block">Enter your biding amount</p>
          <span class="material-input"></span></div>

      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-raised btn-success" ng-click="auctionBeing();startAuction=true" ng-disabled="!bidName.$valid">Start Auction</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="auctionResult">
  <div class="modal-dialog">
    <div class="modal-content setbg">
     <!--  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title caps tsize">Biding Winner is !!!!!!<i class=" fsize fa fa-smile-o" aria-hidden="true"></i></h4>
      </div> -->
      <div class="modal-body">
     <strong class="caps tsize text-center"> Congratulations!! {{userDetails.name}} You have won!  <i class="blink fa fa-sign-language fsize" aria-hidden="true"></i>
  
</strong> 
      </div>
    </div>
  </div>
</div>